
.form-control:focus{
    box-shadow: none !important;
}
.nav-link.active{
    font-size: 15px;
    font-weight: bold;
}

.base__title{
    font-size: 36px;
    font-weight: 300;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: #fcfafa62;
}

.base_btn-table{
    width: 97px;
    height: 26px;
    font-size: 14px;
    align-items: center;
    padding: 0px;
    border-radius: 12px;

}
.btn{
    background-color: 1864BD !important;
}

.text-muted{
    color:  red !important;
}

.btn:hover .btn:active .btn:focus{
    box-shadow: none !important;
    border-color: transparent !important;
}